.container {
  padding: 8px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.barcode {
  background-color: white;
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 8px 8px 8px 8px;
  height: 60px;
  border-radius: 8px;
}
