.vouchers {
  background-color: #feebdd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 4px;

  &__title {
    background-color: #f34832;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    padding: 4px 6px;
    transform: translateY(-8px);
  }
}

.voucherItem {
  display: flex;
  width: 100%;
  background-color: white;
  margin-bottom: 6px;
  height: 80px;
  border: 1px solid #ededed;
  border-radius: 2px;
  
  &__icon {
    width: 80px;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 10px;
  }

  &__body {
    flex: 1;
    display: grid;
    align-content: center;
    padding-left: 10px;
    row-gap: 4px;
  }

  &__title {
    font-weight: bold;
  }

  &__tags {
    display: flex;
  }

  &__tag {
    border: 1px solid #ef4c29;
    color: #ef4c29;
    font-size: 8px;
    padding: 1px 2px;
    margin-right: 4px;
  }

  &__description {
    font-size: 9px;
    color: #a2a2a2;
  }

  &__right {
    width: 120px;
    display: grid;
    justify-content: center;
    align-content: center;
  }

  &__button {
    font-size: 10px;
    background-color: white;
    color: #ef4c29;
    border: 1px solid #ef4c29;
    width: 80px;
    padding: 4px 0px;
    border-radius: 2px;
    touch-action: none;
  }
}

.iconText {
  font-size: 10px;
  text-align: center;
  color: white;
  font-weight: 500;
}