.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #fff;
  padding: 6px 10px;
  touch-action: none;
}

.navbarLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbarLink {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__text {
    color: #616161;
    font-size: 10px;
  }
}