.title {
  font-size: 16px;
  margin-left: 10px;
  color: #ef4c29;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6px;
  gap: 6px;
  background-color: #f4f4f4;
}

.recommendedItem {
  &__image {
    background-color: blue;
    aspect-ratio: 1;
  }

  &__body {
    background: white;
    padding: 8px;
    line-height: 12px;
  }

  &__top {
    height: 48px;
  }

  &__title {
    font-size: 12px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2px;
  }

  &__price {
    color: #ef4c29;
  }

  &__sold {
    color: #a2a2a2;
    font-size: 9px;
  }
}