.scan {
  background-color: black;
  height: 100vh;
}

.qrContainer {
  padding: 100px 40px;
}

.qr {
  background-color: white;
  aspect-ratio: 1;
}

.scanning {
  color: white;
  text-align: center;
  width: 100%;
}

.icon {
  margin: 16px;
}